<div class="activeState">
  <h1><span class="inactive">Login</span>  /  <span class="active"><a ui-sref="home.signUp" class="activeState__link">Sign Up</a></span></h1>
</div>

<div class="login">
  <h2 class="error" ng-show="login.error">Ooops. {{login.error}}</h2>
  <form class="form">
    <div class="form__field form__field--creds">
      <label class="form__label" for="email">Username or Email: </label>
      <input class="form__input" type="text" name="email" placeholder="Username or Email" ng-model="login.creds"/>
    </div>
    <div class="form__field form__field--password">
      <label class="form__label" for="password">Password</label>
      <input class="form__input" type="password" name="password" ng-model="login.password">
    </div>
    <button class="form__submit" type="submit" ng-click="login.submit()">Login</button>
  </form>
  <!-- Password Reset Coming in v2.0 -->
  <!-- <a ui-sref="forgotPW">Forgot Password?</a> -->
</div>
