<div class="activeState">
  <h1><span class="active">Login</span><span class="inactive">  /  <a ui-sref="home.signUp" class="activeState__link">Sign Up</a></span></h1>
</div>

<div class="loginForm">
  <h2 class="error" ng-show="login.error">Ooops. {{login.error}}</h2>
  <form class="form form--login">
    <div class="form__field form__field--creds">
      <input class="form__input" type="text" name="email" ng-model="login.creds" required/>
      <label class="form__label" for="email">Username or Email: </label>
    </div>
    <div class="form__field form__field--password">
      <input class="form__input" type="password" name="password" ng-model="login.password" required>
      <label class="form__label" for="password">Password</label>
    </div>
    <button class="form__submit" type="submit" ng-click="login.submit()">Login</button>
  </form>
  <!-- Password Reset Coming in v2.0 -->
  <!-- <a ui-sref="forgotPW">Forgot Password?</a> -->
</div>
