<div class="activeState">
  <h1><span class="inactive"><a ui-sref="home.login" class="activeState__link">Login</a></span>  /  <span class="active">Sign Up</span></h1>
</div>

<div class="signUpForm">
  <div class="error" ng-if="signup.error">
    <h2>Ooops! {{signup.error}}</h2>
  </div>
  <form class="form">
    <div class="form__field form__field--username">
      <label class="form__label required" for="username">Username: </label>
      <input class="form__input" type="text" name="username" placeholder="Ex: SneakySnitch1" ng-model="signup.username"/>
    </div>
    <div class="form__field form__field--firstName">
      <label class="form__label requred" for="firstName">First Name: </label>
      <input class="form__input" type="text" name="firstName" ng-model="signup.firstName" placeholder="Ex: Harry" />
    </div>
    <div class="form__field form__field--lastName">
      <label class="form__label required" for="lastName">Last Name: </label>
      <input class="form__input" type="text" name="firstName" ng-model="signup.lastName" placeholder="Ex: Potter">
    </div>
    <div class="form__field form__field--email">
      <label class="form__label required" for="email">Email: </label>
      <input class="form__input" type="email" name="email" ng-model="signup.email" placeholder="Ex: basiliskSlayer@hogwarts.edu" />
    </div>
    <div class="form__field form__field--password">
      <label class="form__label required" for="password1">Password: </label>
      <input class="form__input" type="password" name="password1" ng-model="signup.password1" placeholder="Create a password">
    </div>
    <div class="form__field form__field--password">
      <label class="form__label required" for="password2">Re-enter Password: </label>
      <input class="form__input" type="password" name="password2" ng-model="signup.password2" placeholder="Re-enter your password">
    </div>
    <button class="form__submit" type="subit" ng-click="signup.checkFields()">Submit</button>
  </form>
</div>
