<div class="welcomeUser">
  <h1>Welcome, {{welcome.firstName}}!</h1>
  <p>
    You made it! You're authenticated and we know who you are!
  </p>
  <div class="welcome__details">
    <h2>Your Profile</h2>
    <h3 class="welcome__detail"><strong>Username:</strong> {{welcomeUser.username}}</h3>
    <h3><strong>Name:</strong> {{welcomeUser.firstName + " " + welcomeUser.lastName}}</h3>
    <h3><strong>E-mail:</strong> {{welcomeUser.email}}</h3>
  </div>
  <button type="button">Logout</button>
</div>
