* {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  box-sizing: border-box; }

body {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background: rgba(62, 134, 61, 0.77);
  background: -webkit-linear-gradient(rgba(62, 134, 61, 0.77) 0%, rgba(62, 134, 61, 0.77) 0%, #1f3b08 100%);
  background: -o-linear-gradient(rgba(62, 134, 61, 0.77) 0%, rgba(62, 134, 61, 0.77) 0%, #1f3b08 100%);
  background: linear-gradient(rgba(62, 134, 61, 0.77) 0%, rgba(62, 134, 61, 0.77) 0%, #1f3b08 100%); }

.wrapper {
  width: 70vw;
  height: 70vh;
  margin: auto;
  position: relative;
  box-shadow: 1px 1px 28px -3px rgba(0, 0, 0, 0.7); }

.active {
  color: #35863D;
  text-shadow: 1px 1px 5px lightgrey; }

.inactive {
  color: grey;
  font-weight: 200; }

.inactive > a {
  text-decoration: none;
  color: inherit; }

.home__welcome-left {
  display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;
  padding: 2.86rem;
  background-color: black;
  color: white;
  height: 100%; }

.home__logo {
  width: 10em;
  margin: 0 auto; }

.home__welcomeMsg {
  padding-top: 2.5rem;
  margin-bottom: 0; }

.home__subtitle {
  font-size: 1rem;
  font-weight: 200;
  padding-top: 0;
  margin-top: 0;
  position: relative;
  top: -10px; }

.home__bullets {
  font-size: 1.2rem;
  margin-top: 2rem;
  list-style-type: none; }
  .home__bullets > li > i {
    display: inline-block;
    padding-right: 1.5rem; }

.home__panel {
  position: absolute;
  width: 60%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  height: 100%;
  padding: 2.86rem; }

.home__disclaimers {
  text-align: center;
  padding-top: .5rem; }
  .home__disclaimers > a {
    color: lightgrey;
    text-decoration: none; }

@media (min-width: 680px) {
  .home__welcome-left {
    display: block; } }

.form {
  padding-top: 50px; }
