.about{
  &__submit{
    display: block;
    text-decoration: none;
    text-align: center;
    @extend .form__submit;
  }
  &__logo {
    @extend .home__logo;
    padding: 1rem;
  }
  &__skills {
    list-style-position: inside;
    display: inline-block;
    margin: auto;
    padding: 2rem 0;
  }
}
