.home{
  &__wrapper {
    width: 80vw;
    height: 70vh;
    margin: 10vh auto 1.75rem auto;
    position: relative;
    box-shadow: 1px 1px 28px -3px rgba(0,0,0,0.7);
  }
 &__welcome-left {
  //  float: left;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;
  padding: 2.86rem;
  background-color: black;
  color: white;
  // border: 4px solid white;
  height: 100%;
 }
 &__logo {
   width: 10em;
   margin: 0 auto;
   text-align: center;
 }
 &__welcomeMsg {
   padding-top: 2.5rem;
  //  text-align: center;
   margin-bottom: 0;
 }
 &__subtitle {
   font-size: 1rem;
   font-weight: 200;
   padding-top:0;
  //  text-align: center;
   margin-top: 0;
   position: relative;
   top: -10px;
 }
 &__bullets {
   font-size: 1.2rem;
   margin-top: 2rem;
   list-style-type: none;
   & > li > i {
     display: inline-block;
     padding-right: 1.5rem;
   }
 }
 &__panel {
   position: absolute;
   width: 60%;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: white;
   height: 100%;
   padding: 2.86rem;
  //  border: 4px solid gray;

 }
 &__disclaimers {
   text-align: center;
 }
}
